<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet" crossorigin> 
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/assets/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <meta name="theme-color" content="#4a4a4a">
    <% if(typeof results !== 'undefined') { %>
        <link rel="stylesheet" href="/css/chartist.css">            
    <% } %>

    <%- include('../partials/title') %>
</head>
<body>
    <div class="modal invisible" id="cookies-modal">
        <section class="cookies-consent box">
            <h2>Wij gebruiken cookies</h2>
            <p>Wij maken gebruik van essentiële cookies om deze website te laten werken. Dit zijn strikt noodzakelijke cookies die niet van derde partijen komen en niet worden gedeeld.</p>
            <a href="" class="cta cookies-accept">Ik heb het begrepen</a>
        </section>
    </div>
    <!-- </div> -->

    <aside class="menu">
        <div class="menu-brand">
            <a href="/<%= currentUser.patienten[0]._id %>/dashboard" class="menu-logo"><img src="/assets/logo/medilogs_white.svg" alt=""></a>
            <button class="menu-btn" aria-expanded="false"><img class="menu-btn-icon" src="/assets/icons/menu-open.svg" alt=""></button>
        </div>
        
        <% if(!currentUser) { %>
            <div class="menu-user">
                <a href="/aanmelden" class="menu-user-logout">
                    <img src="/assets/icons/afmelden.svg" alt="" class="menu-link-icon">
                    <span class="menu-user-text">Aanmelden</span>
                </a>
                <a href="/registreren" class="menu-user-logout">
                    <img src="/assets/icons/afmelden.svg" alt="" class="menu-link-icon">
                    <span class="menu-user-text">Registreren</span>
                </a>
            </div>
        <% } else { %>
            <div class="menu-links">
                <h1 class="menu-groupname">Bloeddruk</h1>
                        <a class="menu-link" href="/<%= currentUser.patienten[0]._id %>/bloeddruk/nieuw" title="Meting toevoegen">
                            <img src="/assets/icons/toevoegen.svg" alt="" class="menu-link-icon">
                            <span class="menu-link-text">Meting toevoegen</span>
                        </a>
                    <a class="menu-link" href="/<%= currentUser.patienten[0]._id %>/bloeddruk/overzicht" title="Meting raadplegen">
                        <img src="/assets/icons/raadplegen.svg" alt="" class="menu-link-icon">
                        <span class="menu-link-text">Metingen raadplegen</span>

                    </a>
                    <a class="menu-link" href="/<%= currentUser.patienten[0]._id %>/bloeddruk/downloaden" title="Meting downloaden">
                        <img src="/assets/icons/downloaden.svg" alt="" class="menu-link-icon">
                        <span class="menu-link-text">Metingen downloaden</span>
                    </a>
            </div>
            
            
            <div class="menu-user">
                <a href="/afmelden" class="menu-user-logout">
                    <img src="/assets/icons/afmelden.svg" alt="" class="menu-link-icon">
                    <span class="menu-user-text">Afmelden</span>
                </a>
            </div>
        <% } %>
    </aside>

     <% if(currentUser && currentUser.rollen.includes('admin')) { %>
        <nav class="admin-bar">
            <ul>
                <li><a href="/admin/users" class="cta">Users</a></li>
                <li><a href="/admin/maintenance" class="cta">Maintenance</a></li>
            </ul>
        </nav>
    <% } %>

    <section class="maintenance-bar">
        <div class="container">
            <p id="maintenance-msg" aria-live="polite"></p>
        </div>
    </section>
    <%- include('../partials/warning') %>
    <main>
        <div class="container">
            <%- include('../partials/flash') %>
          
            <%- body %>
        </div>
    </main>

    <script src="/js/responsive-menu.js"></script>
    <script src="/js/maintenance.js"></script>
    <script src="/js/cookies-consent.js"></script>

</body>
</html>