

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap" rel="stylesheet" crossorigin> 
    <link rel="stylesheet" href="/css/style.css">
    <% if(typeof results !== 'undefined') { %>

        <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js" crossorigin></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.min.js" crossorigin></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" crossorigin>
        <link rel="stylesheet" href="/css/chartist.css">
            
    <% } %>

    <%- include('../partials/title') %>
</head>
<body>
    <section class="maintenance-block">
        <div class="container">
            <p id="maintenance-msg" aria-live="polite"></p>
        </div>
    </section>
    <%- include('../partials/warning') %>
    <header>
        <div class="container">
            <nav>
                <div class="navbar-brand">
                    <% if(!currentUser) { %>
                        <p><a href="/">medilog</a></p>
                    <% } else { %>
                        <p><a href="/<%= currentUser.patienten[0]._id %>/dashboard/">medilog</a></p>
                    <% } %>
                </div>
                <div class="navbar-user">
                    <% if(!currentUser) { %>
                        <a href="/registreren" class="btn btn-sec">Registreren</a>
                        <a href="/aanmelden" class="btn btn-pri">Aanmelden</a>
                    <% } else { %>
                        <a href="/afmelden" class="btn btn-sec">Afmelden</a>
                    <% } %>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <%- include('../partials/flash') %>
          
            <%- body %>
        </div>
    </main>

    <script src="/js/maintenance.js"></script>
</body>
</html>