<% layout('layouts/boilerplate') %>
   

    <div class="results-settings"><h1><%= title %></h1><button id="btn-results-settings"><img src="/assets/settings.svg" alt="Open de instellingen"></button></div>

    <%  

        let sortedResults = [...results];
        let labels = ['Bovendruk', 'Onderdruk', 'Hartslag', 'Tijdstip'];
    
        // console.log('NOT SORTED')
        // console.log(sortedResults);
        if (sort) {
            switch (sort) {
                case "date-asc":
                    sortedResults = sortedResults.sort((a, b) => a.tijdstip - b.tijdstip);
                    labels[3] = 'Tijdstip ↑'
                    break;
                case "bovendruk-desc":
                    sortedResults = sortedResults.sort((a, b) => b.bovendruk - a.bovendruk);
                    labels[0] = 'Bovendruk ↓'
                    break;
                case "bovendruk-asc":
                    sortedResults = sortedResults.sort((a, b) => a.bovendruk - b.bovendruk);
                    labels[0] = 'Bovendruk ↑'
                    break;
                case "onderdruk-desc":
                    sortedResults = sortedResults.sort((a, b) => b.onderdruk - a.onderdruk);
                    labels[1] = 'Onderdruk ↓'
                    break;
                case "onderdruk-asc":
                    sortedResults = sortedResults.sort((a, b) => a.onderdruk - b.onderdruk);
                    labels[1] = 'Onderdruk ↑'
                    break;
            
                default:
                    break;
            }
            // console.log('SORTED BY', sort)
            // console.log(sortedResults);
        } 
    %>

    <section class="dash-element section-results-settings invisible" id="results-settings" role="settings" aria-live="polite">
        <form action="#" id="results-settings-form">
            <div class="results-filter">
                <h3>Periode:</h3>
                <div class="filter-days">
                    <div class="filter-element">
                        <input type="radio" name="days" id="30" value="30" <%= amount === '30' ? 'checked' : '' %> >
                        <label for="30">laatste 30 metingen</label>
                    </div>
                    <div class="filter-element">
                        <input type="radio" name="days" id="7" value="7" <%= amount === '7' ? 'checked' : '' %>>
                        <label for="7">laatste 7 metingen</label>
                    </div>
                </div>
            </div>
            <div class="results-sort">
                <h3>Sorteer op:</h3>
                <div class="sort-element">
                    <select name="sort" id="select-sort">
                        <option value="date-desc" selected>Nieuwste meting eerst</option>
                        <option value="date-asc">Oudste meting eerst</option>
                        <option value="bovendruk-asc">Bovendruk oplopend</option>
                        <option value="bovendruk-desc">Bovendruk aflopend</option>
                        <option value="onderdruk-asc">Onderdruk oplopend</option>
                        <option value="onderdruk-desc">Onderdruk aflopend</option>
                    </select>
                </div>
                <p class="hint">Op basis van de gekozen periode.</p>
            </div>
            <button class="btn btn-pri" id="save-results-settings">
                Pas toe
            </button>
        </form>
    </section>

    <section class="dash-element section-stats">
        <h2>
            <span class="icon" id="icon-stats"><img src="/assets/eye-off.svg" alt="Verberg gemiddelden"></span>
            <p>Gemiddelden</p>
        </h2>
        <% 
            let bovendrukResult = 0, bovendrukCounter = 0,
            onderdrukResult = 0, onderdrukCounter = 0,
            hartslagResult = 0, hartslagCounter = 0;
        %>

        <% for (let result of results) { 
            bovendrukResult += result.bovendruk;
            bovendrukCounter++;
            onderdrukResult += result.onderdruk;
            onderdrukCounter++;
            
            if(result.hartslag !== undefined) {
                hartslagResult += result.hartslag;
                hartslagCounter++;
            }         
        } %>

        <%
            let bovendrukStat = Math.round(bovendrukResult / bovendrukCounter);
            let onderdrukStat = Math.round(onderdrukResult / onderdrukCounter);
            let hartslagStat = 0
            if(hartslagCounter !== 0) {
                hartslagStat = Math.round(hartslagResult / hartslagCounter);
            }
        %>
        <div class="stats">
            <div class="stats-bovendruk">
                <p class="stats-num"><%= bovendrukStat %></p> 
                <p class="stats-desc">bovendruk</p>
            </div>
            <div class="stats-onderdruk">
                <p class="stats-num"><%= onderdrukStat %></p> 
                <p class="stats-desc">onderdruk</p>
            </div>
            <div class="stats-hartslag">
                <p class="stats-num"><%= hartslagStat !== 0 ? hartslagStat : "" %></p> 
                <p class="stats-desc"><%= hartslagStat !== 0 ? "hartslag" : "" %></p>
            </div>
        </div>
    </section>

    <section class="dash-element section-table section-results">
        <h2>
            <span class="icon" id="icon-results"><img src="/assets/eye-off.svg" alt="Verberg tabel"></span
            <p>Tabel</p>
        </h2>
        <% if(results && results.length > 0) { %>

            <table id="table-results">
                <thead id="table-results-head">
                    <tr>
                        <th><%= labels[0] %></th>
                        <th><%= labels[1] %></th>
                        <th><%= labels[2] %></th>
                        <th><%= labels[3] %></th>
                        <th><img src="/assets/edit.svg" alt="" class="table-icon"></th>
                        <th><img src="/assets/delete.svg" alt="" class="table-icon"></th>
                    </tr>
                </thead>

                <tbody id="table-results-body">
                    <% for (let result of sortedResults) { %>
                        <tr>
                            <td><%= result.bovendruk %></td>
                            <td><%= result.onderdruk %></td>
                            <td><%= result.hartslag === undefined ? "0" : `${result.hartslag}` %></td>
                            <td>
                                <% 
                                    const date = new Date(result.tijdstip) 
                                    const day = date.getDate() < 10 ? `0${date.getDate()}` : `${date.getDate()}`;
                                    const month = (date.getMonth() + 1) < 10 ? `0${date.getMonth() + 1}` : `${date.getMonth() + 1}`;
                                    const year = date.getFullYear()
                                    const hours = date.getHours() < 10 ? `0${date.getHours()}` : `${date.getHours()}`;
                                    const minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : `${date.getMinutes()}`;
                                %>
                                <%= `${day}/${month}/${year} - ${hours}:${minutes}` %> 
                            </td>                            
                            <td><a href="/<%= patientId %>/bloeddruk/<%= result._id %>/bewerk"><img src="/assets/edit.svg" alt="Pas meting aan" class="table-icon"></a></td>
                            <td><a href="/<%= patientId %>/bloeddruk/<%= result._id %>/verwijder"><img src="/assets/delete.svg" alt="Verwijder meting" class="table-icon"></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } %>
    </section>

    <section class="dash-element section-graph">
        <h2>
            <span class="icon" id="icon-graph"><img src="/assets/eye-off.svg" alt="Verberg grafiek"></span
            <p>Grafiek</p>
        </h2>

        <!-- SHOW TOOLTIPS: -->
        <div class="ct-chart ct-major-tenth" id="graph"></div>
      
    </section>  

   <script src="/js/show-hide-result.js"></script>
   <script>
       const results = <%- JSON.stringify(sortedResults) %>;
       const patientId = <%- JSON.stringify(patientId) %>;
    </script>

   <script src="/js/change-results-settings.js"></script>

   <script src="/js/render-graph.js"></script>

